// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content {
  font-family: "Avenir","Lucida Grande","Open Sans","Helvetica Neue","Helvetica,Arial,sans-serif";
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
  color: rgba(33,23,23,.9);  
  box-sizing: border-box;
  width: auto;
  margin: auto;
  max-width: 1020px;
  padding: 96px 32px;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;  
}